* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6f8;
  color: #222;
}

a {
  color: #0d4a8f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
